  <div class="card-content mb-4 ml-2 mr-2">
    <div class="card-img">
      <img src="{{pijama.url}}" alt="{{pijama.title}}"  >
      <span>
        <h4>{{pijama.title}}</h4>
      </span>
      <a [style.display]="pijama.isSelected() ? '':'None'"
          (click)="deleteCart()">
        Eliminar
        <fa-icon [icon]="faShoppingCart"></fa-icon>
      </a>

    </div>
    <div class="card-desc">
      <h3>{{pijama.title}}</h3>
      <p>{{pijama.descripcion}}</p>

      <a class="btn-card justify-content-center" (click)="addCart()">
        Add <fa-icon [icon]="faCartPlus"></fa-icon>
      </a>

    </div>
  </div>
