<div class="container content">
  <div class="row">
    <div class="col-md-12">
      <span class="anchor" id="formLogin"></span>
      <!-- card form con validacion-->
      <div class="card card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">Lista de Pijama favoritas</h3>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" id="nombre" 
                placeholder="Ingresar nombre..." 
                value="White Light"
                #nombre>
            </div>
            <div class="form-group">
              <label for="ImagenUrl">Imagen Url</label>
              <input type="text" class="form-control" id="imagenUrl" 
                placeholder="Ingresar url..." 
                value="https://surtitodo.vteximg.com.br/arquivos/ids/171379-2000-3000/02005301126101029-marfil-v1.jpg?v=637277116511570000"
                #url>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripcion</label>
                <input type="text" class="form-control" id="descripcion" 
                placeholder="Descripcion del producto..." 
                value="Rico para descansar un poco mejor de tanto estres..."
                #desc>
            </div>
            <button type="button" class="btn btn-primary" (click)="save(nombre,url,desc)">Guardar!</button>
            <button type="submit" class="btn btn-danger ml-4" (click)="deleteAll()"> Eliminar Todos</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <hr class="mb-5">

  <div class="d-flex flex-wrap" *ngIf="items">
    <app-favorites *ngFor="let item of items" 
                [pijama]="item"
                (clicked)="addCart(item)">
    </app-favorites>
  </div>

  <div class="d-flex flex-wrap" *ngIf="void">
          <h1>No hay pijamas favoritas!</h1>
  </div>
</div>
